PORT=3000
HOST=0.0.0.0
MAX_CONCURRENT_CAPTURES=1
TARGET_COUNT=8

TARGET_1_NAME="Target 1"
TARGET_1_URL=https://example.com/target-1
TARGET_2_NAME="Target 2"
TARGET_2_URL=https://example.com/target-2
TARGET_3_NAME="Target 3"
TARGET_3_URL=https://example.com/target-3
TARGET_4_NAME="Target 4"
TARGET_4_URL=https://example.com/target-4
TARGET_5_NAME="Target 5"
TARGET_5_URL=https://example.com/target-5
TARGET_6_NAME="Target 6"
TARGET_6_URL=https://example.com/target-6
TARGET_7_NAME="Target 7"
TARGET_7_URL=https://example.com/target-7
TARGET_8_NAME="Target 8"
TARGET_8_URL=https://example.com/target-8
